<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>
			Dart Training
		</title>
		<style>
			body {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 50px;
			}
			canvas {
				background: transparent;
			}
			#hitInfo {
				margin-top: 20px;
				font-size: 18px;
				font-weight: bold;
				min-height: 24px;
			}
		</style>
	</head>
	<body>
		<canvas id="dartboard" width="500" height="500">
		</canvas>
		<button id="simulateThrowsButton" onclick="simulateThrows()">Simulate Throws</button>
		<pre id="hitInfo">Hit:</pre>
		<script src="static/script.js"></script>
		<button id="resetThrowsButton" onclick="resetGame()" disabled>Reset</button>
	</body>
</html>